<%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>

  <main role="main" class="inner cover">
    <h1 class="cover-heading">Presupuestos.</h1>
    <p class="lead">Es una aplicaci칩n para gestionar los presupuestos de la empresa y simplificar la comunicaci칩n con nuestros clientes.</p>
    <p>Sino tiene una cuenta, deber치 crear una primero para poder utilizar la aplicaci칩n</p>
    <p class="lead">
    <%= link_to "Crear cuenta", new_user_registration_path, class: "btn btn-lg btn-primary" %><br />
    <br>
    <p class="lead">Si tiene cuenta, haga click en el siguiente enlace para identificarse</p>
      <%= link_to "Iniciar sesion", new_user_session_path, class: "btn btn-lg btn-secondary" %>
    </p>
  </main>



