<header class="masthead mb-auto">
  <div class="inner">
    <h3 class="masthead-brand">Presupuestos</h3>
    <nav class="nav nav-masthead justify-content-center">
      <a class="nav-link active" href="/">Inicio</a>
      <a class="nav-link" href="/presupuestos">Mis presupuestos</a>
      <a class="nav-link" href="#">Contacto</a>
    </nav>
  </div>
</header>
